body {
    background: #E684AE;
    background: -webkit-linear-gradient(to right, #E684AE, #E684AE, #E684AE);
    background: linear-gradient(to right, #E684AE, #E684AE, #E684AE);
    }
    .user-profile {
        position: relative;
        display: flex;
        align-items: center;
        cursor: pointer;
    }
    
    .user-avatar {
        width: 40px;
        height: 40px;
        border-radius: 50%;
        margin-right: 10px;
    }
    
    .user-options {
        position: absolute;
        top: 100%;
        right: 0;
        background-color: #fff;
        border: 1px solid #ccc;
        border-radius: 4px;
        padding: 10px;
        display: none;
    }
    
    .user-profile:hover .user-options {
        display: block;
    }
    